mixin side-menu()
    +b.NAV.side-menu
        +e.close 
            +e.close-icon
        +e.navigation
            +e.UL.top-menu.active
                each item in sideMenu
                    +e.LI.top-menu-item
                        if (item.innerMenu)
                            +e.A.top-menu-link.has-subnav(href=item.link)= item.label
                            +e.UL.second-menu
                                +e.LI.back(aria-hidden='true') Назад
                                each subitem in item.innerMenu
                                    +e.LI.second-menu-item
                                        if (subitem.innerMenu)
                                            +e.A.second-menu-link.has-subnav(href=subitem.link)= subitem.label
                                            +e.UL.third-menu
                                                +e.LI.back(aria-hidden='true') Назад
                                                +e.LI.item-title(aria-hidden='true')= subitem.label
                                                each subsubitem in subitem.innerMenu
                                                    +e.LI.third-menu-item
                                                        +e.A.third-menu-link(href=subsubitem.link)= subsubitem.label
                                        else 
                                            +e.A.second-menu-link(href=subitem.link)= subitem.label
                        else
                            +e.A.top-menu-link(href=item.link)= item.label
                                            
            +e.UL.actions
                +e.LI.action
                    +e.A.phone(href='tel:+78127482446') +7 (812) 748-24-46
                +e.LI.action
                    +e.BUTTON.search(type='button') Поиск
                +e.LI.action
                    +e.BUTTON.favorite(type='button') Избранное
                +e.LI.action
                    +e.BUTTON.cart(type='button') Корзина
                    
                
                