mixin product-card(data)
    +b.ARTICLE.product-card
        +e.A.link(href=data.link)
        +e.A.image(href=data.link)
            +e.flipper-image
                +e.front-image
                    picture
                        source(srcset=data.front_image media="(min-width: 900px)")
                        img(src=data.front_image_s alt=data.name)
                +e.back-image
                    picture
                        source(srcset=data.back_image media="(min-width: 900px)")
                        img(src=data.back_image_s alt=data.name)
        +e.row
            +e.name= data.name
            +e.BUTTON.like
                    +icon('favorite')
                
        +e.row
            +e.price= data.price